.card-body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

img {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
}

img .over {
    border: 3px dotted #666;
}